@model MyParking.ViewModels.ParkingLotVM


<style type="text/css">
    body {
        padding-top: 100px;
    }
</style>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkingName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParkingID }, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>
